.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
        background:#0d5188 ; 
}


.linha1{
    font-family: Arial, Helvetica, sans-serif;
    color:black ;
        background:#66c5e3
}


.linha2{
    font-family: Arial, Helvetica, sans-serif;
    color:#0d5188;
            background:#c7e7f3
}
        
.linha3{
    font-family: Arial, Helvetica, sans-serif;
    color:#0d5188;
            background:#c7e7f3
}
        


 .n1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background:gray;
 }
 .n2{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 }
 .n3{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background:gray;
 }
 .n4{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 }
 .n5{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background:gray;
 }
 .n6{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 }
 .n7{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 }
 
 .n8{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background:gray;
 }

